.context-menu {
    position  : absolute;
    display   : inline-block;
    margin    : 0;
    padding   : 0.1em;
    box-sizing: border-box;
    min-width : 150px;
    background: $offWhite;
    box-shadow: $box-shadow;
    z-index   : 10;

    a {
        display  : block;
        padding  : 0.6em 0.4em;
        font-size: 0.9em;

        &:hover {
            background: $accent;
            color     : $white;
        }
    }

    .closed {
        visibility: hidden;
        opacity   : 0;
    }

    .open {
        visibility: visible;
        opacity   : 1;
    }
}
