$background: #E0E0E0;
$black: #212121;
$darkGrey: #4e4e4e;
$lightGrey: #aeaeae;
$white: #ffffff;
$accent: #00BCD4;
$dark: #0D47A1;
$box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .1);
$underline-avoider: 0.03em 0 $background, -0.03em 0 $background, 0 0.03em $background, 0 -0.03em $background, 0.06em 0 $background, -0.06em 0 $background, 0.09em 0 $background, -0.09em 0 $background, 0.12em 0 $background, -0.12em 0 $background, 0.15em 0 $background, -0.15em 0 $background;
$sans-serif: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
@mixin panel() {
    position  : relative;
    height    : 110vh;
    width     : 100%;
    margin    : 0 auto;
    padding   : 0.5em 0.8em;
    box-sizing: border-box;
}
@mixin vertically-center() {
    display    : block;
    position   : absolute;
    top        : 40%;
    left       : 50%;
    transform  : translate(-50%, -50%);
    perspective: (1px);
}
@mixin shard($position: top) {
    position: relative;
    overflow: hidden;

    &:before {
        content   : ' ';
        background: $white;
        display   : block;
        position  : absolute;
        @if $position == top {
            top: -90%;
        }
        @else {
            bottom: -90%;
        }
        left      : -100px;
        height    : 100%;
        width     : 150%;
        transform : rotate(-10deg);
        box-shadow: $box-shadow;
    }
}

body,
html {
    padding               : 0;
    margin                : 0;
    background            : $white;
    color                 : $black;
    font-family           : $sans-serif;
    overflow-x            : hidden;
    -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h5 {
    margin     : 0;
    font-family: 'Libre Baskerville';
    font-weight: normal;
}

h1 {
    font-size: 2em;
}

p {
    padding    : 0 0.1em;
    box-sizing : border-box;
    text-align : justify;
    line-height: 1.7em;
    color      : $darkGrey;
    user-select: none;
}

a {
    position       : relative;
    color          : $darkGrey;
    text-shadow    : $underline-avoider;
    text-decoration: none;
    z-index        : 1;
    user-select    : none;

    &:before {
        content   : ' ';
        position  : absolute;
        display   : inline-block;
        bottom    : 0;
        left      : 0.5%;
        width     : 99%;
        height    : 1px;
        background: $accent;
        z-index   : -1;
    }
}

header {
    @include panel();
    @include shard(top);
    background: $background;

    &:before {
        animation-name           : reveal;
        animation-duration       : 0.8s;
        animation-timing-function: ease-out;
        animation-iteration-count: 1;
    }

    article {
        @include vertically-center();
        width    : 95%;
        max-width: 450px;

        h1 {
            animation-name           : fade;
            animation-duration       : 1.3s;
            animation-timing-function: ease-in;
            animation-iteration-count: 1;
        }

        p {
            animation-name           : fade;
            animation-duration       : 1.5s;
            animation-timing-function: ease-in;
            animation-iteration-count: 1;
        }

        &:before {
            content                  : '';
            position                 : absolute;
            right                    : 0;
            top                      : 0;
            height                   : 100%;
            width                    : 1px;
            color                    : $lightGrey;
            animation-name           : slideDown;
            animation-duration       : 2.5s;
            animation-iteration-count: 1;
        }
    }

    p {
        padding   : 0 0.1em;
        box-sizing: border-box;
    }
}

main {
    @include panel();
    background: $dark;

    article {
        @include vertically-center();
        width    : 90%;
        max-width: 400px;
    }

    h2 {
        color    : darken($dark, 10);
        font-size: 3em;
        margin   : 0;
        padding  : 0;
    }

    p {
        color      : $white;
        margin-top : 0.2em;
        padding-top: 0;
    }
}

footer {
    @include panel();
    @include shard(bottom);
    background: $background;

    ul {
        @include vertically-center();
        display   : block;
        box-sizing: border-box;
        padding   : 2em 0;
        width     : 100%;
    }

    li {
        display   : block;
        margin    : 1em auto;
        width     : 100%;
        list-style: none;
    }

    a {
        text-align: center;
    }
}

.context-menu {
    position  : absolute;
    display   : inline-block;
    margin    : 0;
    padding   : 0.5em;
    box-sizing: border-box;

    .closed {
        visibility: hidden;
        opacity   : 0;
    }

    .open {
        visibility: visible;
        opacity   : 1;
    }

}
@keyframes reveal {
    0% {
        transform: rotate(-20deg) scale(10);
    }

    100% {
        transform: rotate(-10deg) scale(1);
    }
}
@keyframes fade {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes slideDown {
    0% {
        transform: scaleY(0);
    }

    50% {
        transform: scale(1);
    }

    100% {
        transform: scaleY(1);
    }
}
